* {
    background-color: navajowhite
}
h2{
color: green;
font-size: 30;
text-align: center;"
}
div > p {
    color:white;
    background: green;
    padding:2px;
    text-align: center;"
}
.center{
    text-align: center;"
}
.center1{
text-align: center;"
}
p{
    color: red;
    font-size: 30;
    text-align: center;"
}
#idsel{
    color: white;
    background-color: blueviolet;
}
.center3{
    color: greenyellow;
    background-color: black;
margin: 15cm;
}

ul > li{
    background-color: brown;
}
.bgcol{
    background-color: blueviolet;
}
h5~p{
    background-color: blue;
    color: white;
}


