body{
    background-color:  rgb(185,179,175);
}
ul0{
    list-style-type: circle;
    display: flex;
    justify-content: space-between;
}
ul1{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
}
ul2{
    list-style-type: decimal-leading-zero;
    display: flex;
    justify-content: space-between;
}
ol{
    list-style-type: armenian;
    display: flex;
    justify-content: space-between;
}
ol1{
    list-style-type: circle;
    display: flex;
    justify-content: space-between;
}
ol2{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
}

